---
http_interactions:
- request:
    method: get
    uri: https://sandbox.telleroo.com/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 78a8ca4e934b6147556c3a793e2ecce53e50a718bac21f7a178b3d4d6a1b257804028bf000b2514af3bcdebd091a1659f26c335aea34d71a81cf376c3d8402b0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d23ab6c6d7ac5a958ba6820eedf51d90"
    body:
      encoding: UTF-8
      string: '{"accounts":[{"id":"020a45e4-dfcf-49bf-be16-ba82a1b1e691","name":"Playpass","currency_code":"GBP","tag":null,"balance":99800,"account_no":"12156182","sort_code":"233470","status":"initialized"}]}'
  recorded_at: Fri, 23 Jun 2017 15:21:25 GMT
recorded_with: VCR 3.0.3
