---
http_interactions:
- request:
    method: post
    uri: https://sandbox.telleroo.com/recipients
    body:
      encoding: UTF-8
      string: '{"name":"Nick Lloyd","currency_code":"GBP","account_no":"12345678","sort_code":"123456"}'
    headers:
      Authorization:
      - 78a8ca4e934b6147556c3a793e2ecce53e50a718bac21f7a178b3d4d6a1b257804028bf000b2514af3bcdebd091a1659f26c335aea34d71a81cf376c3d8402b0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fcd08e1a88b5cbb5fdfff4c486523fc1"
    body:
      encoding: UTF-8
      string: '{"recipient":{"id":"a6a2b79c-33b5-4ed5-90fd-bfb8f1d4085a","name":"Nick
        Lloyd","currency_code":"GBP","account_no":"12345678","sort_code":"123456","legal_type":"PRIVATE"}}'
  recorded_at: Fri, 23 Jun 2017 21:02:51 GMT
recorded_with: VCR 3.0.3
