---
http_interactions:
- request:
    method: post
    uri: https://sandbox.telleroo.com/recipients
    body:
      encoding: UTF-8
      string: '{"name":"Rick Floyd","currency_code":"EUR","iban":"GB04BARC20474473160944","bic":"BARCGB22"}'
    headers:
      Authorization:
      - 78a8ca4e934b6147556c3a793e2ecce53e50a718bac21f7a178b3d4d6a1b257804028bf000b2514af3bcdebd091a1659f26c335aea34d71a81cf376c3d8402b0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6a019e9dc51c007e29fb70a734f1019"
    body:
      encoding: UTF-8
      string: '{"recipient":{"id":"1482e43f-ed18-49f0-b736-3e6cb288acda","name":"Rick
        Floyd","currency_code":"EUR","iban":"GB04BARC20474473160944","bic":"BARCGB22","legal_type":"PRIVATE"}}'
  recorded_at: Sat, 24 Jun 2017 07:12:10 GMT
recorded_with: VCR 3.0.3
