---
http_interactions:
- request:
    method: post
    uri: https://sandbox.telleroo.com/recipients
    body:
      encoding: UTF-8
      string: '{"name":"Nick Lloyd","currency_code":"GBP","account_no":"72345678","sort_code":"623456"}'
    headers:
      Authorization:
      - 78a8ca4e934b6147556c3a793e2ecce53e50a718bac21f7a178b3d4d6a1b257804028bf000b2514af3bcdebd091a1659f26c335aea34d71a81cf376c3d8402b0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6dde8f556bfe5fecf9e34fe8b32e9261"
    body:
      encoding: UTF-8
      string: '{"recipient":{"id":"2c677dcd-5040-4f69-ab7c-64fe97a41e98","name":"Nick
        Lloyd","currency_code":"GBP","account_no":"72345678","sort_code":"623456","legal_type":"PRIVATE"}}'
  recorded_at: Sat, 24 Jun 2017 07:12:10 GMT
recorded_with: VCR 3.0.3
