---
http_interactions:
- request:
    method: post
    uri: https://sandbox.telleroo.com/adhoc_bank_transfers
    body:
      encoding: UTF-8
      string: '{"account_id":"020a45e4-dfcf-49bf-be16-ba82a1b1e691","currency_code":"GBP","amount":600,"recipient_name":"Rick
        Floyd","account_no":12345678,"sort_code":665544,"idempotent_key":"A87654321","reference":"foo","tag":"bar","reconciliation":"baz"}'
    headers:
      Authorization:
      - 78a8ca4e934b6147556c3a793e2ecce53e50a718bac21f7a178b3d4d6a1b257804028bf000b2514af3bcdebd091a1659f26c335aea34d71a81cf376c3d8402b0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"760cf83089daf3a71faa462ed34ef9da"
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"607bc492-3170-40f0-9cf1-0cac1ebc7ba9","processed_at":"2017-06-24T06:51:59Z","transaction_type":"Debit","currency_code":"GBP","amount":600,"recipient_id":"2fbb4085-6ca6-4fac-aea6-faad94c02ae5","status":"Preparing
        Payment","status_info":"Creating payment request","reconciliation":"baz","reference":"foo","account_id":"020a45e4-dfcf-49bf-be16-ba82a1b1e691","tag":"bar","end_balance":98600,"idempotent_key":"A87654321","created_at":"2017-06-24T06:51:59Z","updated_at":"2017-06-24T06:51:59Z"}}'
  recorded_at: Sat, 24 Jun 2017 06:51:50 GMT
recorded_with: VCR 3.0.3
