---
http_interactions:
- request:
    method: get
    uri: https://sandbox.telleroo.com/recipients/95a3fd24-a96b-46d6-922e-c235fd1749cc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 78a8ca4e934b6147556c3a793e2ecce53e50a718bac21f7a178b3d4d6a1b257804028bf000b2514af3bcdebd091a1659f26c335aea34d71a81cf376c3d8402b0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e4d18d91df13e99e0cff9e34ffbe15dc"
    body:
      encoding: UTF-8
      string: '{"recipient":{"id":"95a3fd24-a96b-46d6-922e-c235fd1749cc","name":"Nick
        Lloyd","currency_code":"GBP","account_no":"12345678","sort_code":"112234","legal_type":"PRIVATE"}}'
  recorded_at: Fri, 23 Jun 2017 20:43:13 GMT
recorded_with: VCR 3.0.3
