---
http_interactions:
- request:
    method: get
    uri: https://sandbox.telleroo.com/transactions/9e99c5c6-7288-4141-bddd-e08c8bd42f13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 78a8ca4e934b6147556c3a793e2ecce53e50a718bac21f7a178b3d4d6a1b257804028bf000b2514af3bcdebd091a1659f26c335aea34d71a81cf376c3d8402b0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c64bdbb49153d741c00efae23b0aef29"
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"9e99c5c6-7288-4141-bddd-e08c8bd42f13","processed_at":"2017-06-19T14:07:11Z","transaction_type":"Debit","currency_code":"GBP","amount":100,"recipient_id":"95a3fd24-a96b-46d6-922e-c235fd1749cc","status":"Payment
        Sent","status_info":"Your payment has been sent to the recipients bank","reconciliation":null,"reference":null,"account_id":"020a45e4-dfcf-49bf-be16-ba82a1b1e691","tag":"Lollapalooza
        Refund","end_balance":99800,"idempotent_key":"123456789","created_at":"2017-06-19T14:07:11Z","updated_at":"2017-06-19T15:12:40Z"}}'
  recorded_at: Fri, 23 Jun 2017 20:37:26 GMT
recorded_with: VCR 3.0.3
