---
http_interactions:
- request:
    method: get
    uri: https://sandbox.telleroo.com/recipients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 78a8ca4e934b6147556c3a793e2ecce53e50a718bac21f7a178b3d4d6a1b257804028bf000b2514af3bcdebd091a1659f26c335aea34d71a81cf376c3d8402b0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"25e2e96c02a706af8a08de222c9734de"
    body:
      encoding: UTF-8
      string: '{"recipients":[{"id":"ac2e18be-0e47-4002-814f-a0e015580cc4","name":"Jefke
        Vermeulen","currency_code":"GBP","account_no":"12345678","sort_code":"224658","legal_type":"PRIVATE"},{"id":"bd5a8cde-eab4-4809-86d5-96fd93c4da3a","name":"Jefke
        Vermeulen","currency_code":"GBP","account_no":"12345678","sort_code":"224657","legal_type":"PRIVATE"},{"id":"95a3fd24-a96b-46d6-922e-c235fd1749cc","name":"Nick
        Lloyd","currency_code":"GBP","account_no":"12345678","sort_code":"112234","legal_type":"PRIVATE"}]}'
  recorded_at: Fri, 23 Jun 2017 20:43:13 GMT
recorded_with: VCR 3.0.3
